/* Estilos gerais */
body {
    background-image: url('https://e1.pxfuel.com/desktop-wallpaper/421/577/desktop-wallpaper-sport-club-corinthians-paulista.jpg');
    background-size: cover;
    background-position: center;  
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container do quiz */
#question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(100, 100, 100, 0.7); /* Cor cinza escura com opacidade */
    backdrop-filter: blur(10px); /* Aplica um efeito de desfoque para simular vidro */
    font-family: 'Arial', sans-serif; /* Fonte da família Arial ou fonte genérica sans-serif */
    color: #fff; /* Cor do texto branco */
    text-align: center; /* Alinhamento centralizado do texto */
    line-height: 1.5; /* Espaçamento entre linhas para melhor legibilidade */
}

/* Estilizando o texto */
#question {
    font-size: 28px; /* Tamanho da fonte maior para a pergunta */
    font-weight: bold; /* Negrito para a pergunta */
    margin-bottom: 15px; /* Mais espaço abaixo da pergunta */
}

#question-text {
    font-size: 20px; /* Tamanho da fonte maior para o texto da pergunta */
    font-style: italic; /* Estilo itálico para destacar o texto */
    margin-bottom: 20px; /* Mais espaço abaixo do texto da pergunta */
}

#user-answer {
    width: 100%;
    padding: 12px; /* Aumentar o preenchimento para tornar a caixa de resposta mais visível */
    border: none; /* Remover a borda para um visual mais limpo */
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px; /* Tamanho da fonte menor para a caixa de resposta */
}

button {
    font-size: 18px; /* Tamanho da fonte maior para o botão */
    padding: 12px 24px; /* Mais espaço interno para o botão */
    border-radius: 25px; /* Borda mais arredondada para o botão */
}

/* Feedback da resposta */
#answer-feedback {
    margin-top: 20px; /* Mais espaço acima do feedback */
    font-size: 18px; /* Tamanho da fonte maior para o feedback */
}


#answer-feedback.correct {
    opacity: 1;
    color: green;
}

#answer-feedback.incorrect {
    opacity: 1;
    color: red;
}
